@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import "tailwindcss";

@font-face {
  font-family: 'SutonnyMJ';
  src: url('https://cdn.jsdelivr.net/gh/maateen/sutonny-mj@master/fonts/SutonnyMJ.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/maateen/sutonny-mj@master/fonts/SutonnyMJ.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Libre Baskerville", serif;
  --font-bijoy: "SutonnyMJ", sans-serif;
}

body {
  @apply bg-slate-50 text-slate-900 font-sans;
}
